@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

:root {
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);

  --bg-color: hsl(235, 16%, 14%);
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Red Hat Text", sans-serif;
  background-color: var(--bg-color);
  background-image: url(./assets/images/pattern-hills.svg), url(./assets/images/bg-stars.svg);
  background-repeat: no-repeat;
  background-size: 250% 30%, cover;
  background-position: 90% 100%;
}

main {
  position: relative;
  height: 100vh;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  body {
    background-size: 100%;
  }
}